.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 200px;
  }
  
  .box {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  